stages:
  - test

pytest:
  stage: test
  image: python:3.11
  script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install pytest
    - pytest -v
  only:
    - main
    - merge_requests
